.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  background-color: #fafafa;
  color: #333;
  background-color: papayawhip;
  
}

.sidebar {
  width: 220px;
  background: papayawhip;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar h2 {
  color: #e63946;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  cursor: pointer;
  color: #555;
}

.sidebar ul li.active,
.sidebar ul li:hover {
  color: #e63946;
  font-weight: bold;
}

.content {
  flex: 1;
  padding: 40px;
  position: relative;
}

.title {
  font-size: 28px;
  color: orangered;
  margin-bottom: 20px;
}

.plan-box {
  display: block;
  margin-bottom: 30px;
  background-color: white;
  width: 300px;
}

/* .plan-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  /* flex: 1; */
  /* text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */ */
 .plan-item{
    display: flex;
    gap: 30px;
    align-items: center;
 }

/* .plan-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-name.red { color: #e63946; }
.plan-name.blue { color: #0077b6; }
.plan-name.green { color: #2a9d8f; }

.plan-id {
  font-size: 20px;
  margin-bottom: 10px;
} */

/* .proceed-btn {
  background: #e63946;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.proceed-btn:hover {
  background: #d62828;
} */
 .btn{
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
 }

.balance-section {
  background: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  /* position: absolute; */
  right: 40px;
  top: 40px;
}

.balance {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.btn-row {
  display: flex;
  gap: 10px;
}

.fund-btn,
.withdraw-btn {
  flex: 1;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.fund-btn {
  background: #2a9d8f;
  color: white;
}

.withdraw-btn {
  background: #264653;
  color: white;
}

.fund-btn:hover {
  background: #21867a;
}

.withdraw-btn:hover {
  background: #1b2f3b;
}

.history {
  margin-top: 0px;
  background-color: white;
   /* text-align: right; */
   display: block;
   align-items: center;
   background-color: papayawhip;
   margin-left: 650px;
   /* margin-bottom: 200px; */
   /* clear: both; */
}

.history table {
  width: 300px;
  border-collapse: collapse;
}

.history th,
.history td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.history th {
  background-color: #f5f5f5;
}

.success { color: green; }
.pending { color: orange; }
.cancelled { color: red; }
.sect {
    display: block;
}