.nav-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 90px;

}
.nav-container{
    padding-top: 50px;
    background: #FFF6F2;
    width: 100%;
    max-width: 1440px;


}
.nav-image{
    width: 100%;
    max-width: 366px;
}
.nav-h5{
    font-family: Roboto;
font-weight: 500;
font-size: 36px;
/* leading-trim: NONE; */
line-height: 100%;
/* letter-spacing: 0%; */
color: #FF4F01;
}
.nav-p{
    font-family: Roboto;
font-weight: 300;
font-size: 22px;
/* leading-trim: NONE; */
line-height: 100%;
/* letter-spacing: 0%; */
color: #000;
width: 500px;

}
.nav-button{
    width: 114px;
height: 38px;
top: 2260px;
left: 440px;
/* angle: 0 deg; */
opacity: 1;
border-radius: 3px;
background: #202124;
color: #FFFFFF;
box-shadow: 0px 0px 1px 0px #0000000A;

box-shadow: 0px 2px 6px 0px #E3E4E41F;

box-shadow: 0px 10px 20px 0px #E3E4E42E;
font-family: roboto;

}
@media (max-width: 320px) {
   .nav-h5{
    font-size: 30px;
    width: 200px;
   } 
   .nav-image{
    width: 90px;
   }
   .nav-p{
    width: 210px;
    font-size: 18px;
   }
}
