.nd-div{
    display: flex;
    gap: 30px;

}
.st-div{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
}
.pt{
    font-family: Roboto;
font-weight: 400;
font-size: 20px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;

}
.ps{
    font-family: Roboto;
font-weight: 400;
font-size: 20px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
/* width: 200px; */

}