.Header-h1{
    font-family: Roboto;
font-weight: 700;
font-size: 36px;
/* leading-trim: NONE; */
line-height: 100%;
/* letter-spacing: 0%; */
/* color: #FF4F01;
 */
 color: #FF4F01;
padding-top: 50px;
padding-left: 120px;
/* width: 300px; */

}
.hero-cont{
    padding-bottom: 30px;
    /* background-image: url('../../assets/Bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid #FF4F01;
    height: 500px */
    
}
.header-input{
    width: 149px;
/* height: 38px; */
/* angle: 0 deg; */
/* opacity: 1; */
top: 281px;
left: 161px;
border-radius: 3px;
border-width: 1px;
box-shadow: 0px 0px 1px 0px #0000000A;

box-shadow: 0px 2px 6px 0px #E3E4E41F;

box-shadow: 0px 10px 20px 0px #E3E4E42E;
border: 1px solid #202124;
margin-left: 15px;
margin-right: 15px;

}
.header-form{
    padding-left: 120px;
    /* display: flex; */
    
}
/* .header-form-div{
    display: flex;
    align-items: center;
    
} */
.header-second{
    display: flex;
    gap: 150px;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    
    
  /* background-image: url('../assets/Wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */


}

.heder-image{
    width: 100%;
    max-width: 500px;
}
.big-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 70px;
    /* width: 100%; */
    max-width: 1440px;
}
.h3{
    font-family: Roboto;
font-weight: 300;
font-size: 24px;
/* leading-trim: NONE; */
line-height: 100%;
/* letter-spacing: 0%; */
color: #FF4F01;


}
.header-button{
    width: 89px;
/* height: 38px; */
/* angle: 0 deg; */
/* opacity: 1; */
top: 30px;
left: 869px;
border-radius: 3px;
background-color: black;
color: white;
font-family: roboto;
box-shadow: 0px 0px 1px 0px #0000000A;

box-shadow: 0px 2px 6px 0px #E3E4E41F;
/* padding-left: 48px; */
/* margin-left: 8px; */
margin-top: 20px;

box-shadow: 0px 10px 20px 0px #E3E4E42E;


}
.h2{
    font-family: Roboto;
font-weight: 700;
font-size: 36px;
/* leading-trim: NONE; */
line-height: 100%;
/* letter-spacing: 0%; */

}
.p{
    font-family: Roboto;
font-weight: 300;
font-size: 18px;
/* leading-trim: NONE; */
line-height: 100%;
/* letter-spacing: 0%; */
width: 430px;

}
.div1 h5 {
    /* display; */
    font-family: Roboto;
font-weight: 700;
font-size: 24px;
/* leading-trim: NONE; */
line-height: 100%;
/* letter-spacing: 0%; */

}
.div1 p{
   font-family: Roboto;
font-weight: 300;
font-size: 18px;
/* leading-trim: NONE; */
line-height: 100%;
/* letter-spacing: 0%; */
width: 300px;
/* color: #FF4F01; */

}
.last-div h4{
font-family: Roboto;
font-weight: 700;
font-size: 36px;
/* leading-trim: NONE; */
line-height: 100%;
/* letter-spacing: 0%; */
color: #FF4F01;

}
.last-div p{
    font-family: Roboto;
}
.last-div{
    padding-left: 40px;

    
}




    
