* {
    box-sizing: border-box;
}
.data-sect{
   max-width: 570px;
   width: 100%;
height: 373px;
top: 291px;
left: 392px;
/* angle: 0 deg; */
/* opacity: 1; */
border-radius: 5px;
background: #FFFFFF;
box-shadow: 0px 0px 1px 0px #0000000A;

box-shadow: 0px 2px 6px 0px #0000000A;

box-shadow: 0px 10px 20px 0px #0000000A;


}
.hh1{
   font-family: Roboto;
font-weight: 500;
font-size: 36px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
color: #FF833C;

 
}
.label{
    font-family: Roboto;
font-weight: 400;
font-size: 14px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
color: #000;
/* width: 200px; */
}
/* .data-form input{
 width: 73px;
height: 37px;
top: 351px;
left: 430px;
/* angle: 0 deg; */
/* opacity: 1; */
/* border-width: 0.5px; */
/* background: #FFFFFF;
border: 0.5px solid #C4C4C4;
box-shadow: 0px 0px 1px 0px #0000000A;

box-shadow: 0px 2px 6px 0px #0000000A;

box-shadow: 0px 10px 20px 0px #0000000A;
color: #C4C4C4; */

  

.input{
width: 273px;
height: 37px;
top: 351px;
left: 430px;
/* angle: 0 deg; */
opacity: 1;
border-width: 0.5px;
background: #FFFFFF;
border: 0.5px solid #C4C4C4;
color: #C4C4C4;
box-shadow: 0px 0px 1px 0px #0000000A;

box-shadow: 0px 2px 6px 0px #0000000A;

box-shadow: 0px 10px 20px 0px #0000000A;


}

.section{
    margin-bottom: 20px;
}
.section-title{
    font-family: Roboto;
font-weight: 400;
font-size: 14px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
color: #000;
margin-bottom: 8px;
}
.options{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* width: 75px;
height: 23.26203155517578px;
top: 430px;
left: 432px;
border-bottom-right-radius: 10px; */
/* angle: 0 deg; */
/* opacity: 1; */

}
.option{
   width: 75px;
height: 23.26203155517578px;
top: 430px;
left: 432px;
border-bottom-right-radius: 10px; 
border: 0.93px solid #979797 
}
.option:hover{
    background-color: #FF833C;

}
.optionk{
    width: 95px;
height: 23.26203155517578px;
top: 430px;
left: 432px;
border-bottom-right-radius: 10px; 
border: 0.93px solid #979797  
}
.optionk:hover{
    background-color: #FF833C;
}
.data-item{
    display: flex;
    align-items: center;
}
.price{
    font-size: 12px;
    margin-top: 3px;
}
.buy-button{
    width: 95px;
height: 29px;
top: 659px;
left: 430px;
/* angle: 0 deg; */
/* opacity: 1; */
border-radius: 2px;
background-color: #000;
color: #FFFFFF;
font-family: roboto;
}
.last-b{
    width: 239px;
height: 45px;
top: 228px;
left: 1146px;
/* angle: 0 deg; */
opacity: 1;
border-radius: 5px;
background-color: #FF833C;
color: #000;
font-family: roboto;
}
.last-div{
    background: #FFFFFF;
    box-shadow: 0px 0px 1px 0px #0000000A;

box-shadow: 0px 2px 6px 0px #0000000A;

box-shadow: 0px 10px 20px 0px #0000000A;
width: 367px;
height: 320px;
top: 297px;
left: 1022px;
/* angle: 0 deg; */
opacity: 1;
border-radius: 5px;
padding-top: 5px;
padding-bottom: 5px;

}
.last-div h6{
font-family: Roboto;
font-weight: 400;
font-size: 18px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
color: #626262;

}
.last-div h4{
    font-family: Roboto;
font-weight: 400;
font-size: 36px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
color: #000;
}
.butt{
    width: 110px;
height: 40px;
top: 465px;
left: 1052px;
/* angle: 0 deg; */
/* opacity: 1; */
border-radius: 5px;
background-color: #000;
color: #FFFFFF;
font-family: roboto;
}
.li{
    list-style: none;
    font-family: Roboto;
font-weight: 400;
font-size: 18px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
padding-bottom: 5px;

} 
.li:hover{
    background-color: #FFFFFF;
}
.overall{
    background-color: peachpuff;
    display: flex;
    height: 100vh;
    /* gap: 100px;
    j */
    justify-content: space-between;
    padding-top: 50px;
    padding-right: 20px;
    /* align-items: center; */
}
.icon{
    display: flex;
    justify-content: space-between;
   max-width: 1440px;
height: 92px;
top: 932px;
left: -3px;
/* angle: 0 deg; */
opacity: 1;
background-color: #FFFFFF;
padding-left: 50px;
padding-right: 50px;

}
.pc{
    font-family: Roboto;
font-weight: 400;
font-size: 14px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
color: #FF833C;
}
.span span{
    padding-right: 20px;
}


