.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8fafc;
}

.signup-box {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.signup-logo {
  width: 100px;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 20px;
  color: black;
  font-family: roboto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 14px;
}

.signup-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.signup-btn:hover {
  background-color: orangered;
}

.login-link {
  margin-top: 10px;
  font-size: 14px;
}



