.mssg{
    width: 267.04998779296875px;
height: 49px;
top: 7360px;
left: 93px;
border-top-left-radius: 4.08px;
border-top-right-radius: 40.83px;
border-bottom-right-radius: 4.08px;
border-bottom-left-radius: 4.08px;
/* angle: 0 deg; */
opacity: 1;
color: white;
background: #59666D;
margin-left: 1000px;
}
.mssg p{
    font-family: Roboto;
font-weight: 400;
font-size: 16.33px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
padding-top: 10px;
padding-left: 30px;

}


.foot h3{
    font-family: Roboto;
font-weight: 500;
font-size: 18px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
color: white;
}
.footer{
background: #FF833C;
padding-top: 40px;
height: 537px;
}
.foot p{
    font-family: Roboto;
font-weight: 400;
font-size: 16px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
color: white;
width: 296px;
padding-top: 25px;
}
.footer-section h4{
    font-family: Roboto;
font-weight: 500;
font-size: 18px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
color: white;

}
.footer-section ul{
    list-style: none;
    color: white;
}
.footer-section ul li{
    padding-top: 15px;
    font-family: Roboto;
font-weight: 400;
font-size: 16px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
}
.footer-section p{
    font-family: Roboto;
font-weight: 400;
font-size: 16px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
color: white;
}
.footer-section{
    text-align: center;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    

}
.footer-bottom p{
    color: white;
    font-family: Roboto;
font-weight: 400;
font-size: 14px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
padding-left: 70px;

}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 120px ;
}
.pd span{
    padding-right: 20px;
}
@media (max-width: 320px) {
    .foot p{
        font-size: 20px;
        width: 30px;

    }
    .footer-section h4{
        font-size: 15px;
        width: 20px;
    }
    .footer-section ul li{
        font-size: 15px;
        width: 20px;
    }
    .footer-content{
        /* gap: 2px; */
        width: 320px;
    }
    .mssg{
        /* padding-left: 0px; */
        display: none;
    }
    /* * { */
        /* overflow-x: hidden; */
        /* width: 60%; */
        /* max-width: 320px; */
    /* } */
    
}
@media (max-width: 1024px) {
    .mssg{
        display: none;
    }
    
}
